<div class="modal fade" id="modalVerMensajesEnviados" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header" style="background-color:rgb(89, 183, 183)">
        <h5 class="modal-title" id="exampleModalLabel">Detalles del Mensaje</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body" style="background-color:rgb(215,238,234)">
        <div class="mb-3">
            <label for="motivo" class="form-label"><strong>Asunto</strong></label>
            <input type="text" class="form-control" id="motivo" readonly/>
        </div>
        <div class="mb-3">
            <label for="descripcion" class="form-label"><strong>Mensaje</strong></label>
            <textarea class="form-control" id="descripcion" rows="5" readonly></textarea>
        </div>
        </div>
        <div class="modal-footer" style="background-color:rgb(89, 183, 183)">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        </div>
    </div>
    </div>
</div>