<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="caja-info bg-green-light">
                <strong> Horarios de consulta </strong><br><br>
                <p> De lunes a viernes <br> de 10:00 a 14:00 y <br> de 16:00 a 20:00 </p>
            </div>
        </div>
        <div class="col-md-3">
            <div class="caja-info bg-green">
                <strong>Nuestros profesionales </strong><br><br>
                <p>
                    Javier Cambronero Santos <br>
                    Javier A. Feltes Ochoa <br>
                    Belén Fernández Puertas
                </p>
            </div>
        </div>
        <div class="col-md-3">
            <div class="caja-info bg-green-dark">
                <strong>Hospital Quirónsalud San José</strong><br><br>
                <p> C/ Cartagena, 111 <br>
                    28002, Madrid <br>
                    Madrid </p>
            </div>
        </div>
        <div class="col-md-3">
            <div class="caja-info bg-green-darker">
                <strong>Teléfono de atención al usuario</strong><br><br>
                <p class="caja-info4"><strong>900 301 013</strong></p>
            </div>
        </div>
    </div>
    <br>
</div>

<style>

    .caja-info {
        padding: 20px;
        color: #fff;
        height: 200px;
    }

    .bg-green-light {
        background-color: #a2d7b4;
    }

    .bg-green {
        background-color: #64b88e;
    }

    .bg-green-dark {
        background-color: #3ca07d;
    }

    .bg-green-darker {
        background-color: #1b6d4f;
    }
    .caja-info4 {
        font-size: 20px;
    }

</style>