<footer class="bg-dark text-center text-white fixed-bottom">
    <div class="container">
        <div class="row justify-content-end align-items-center p-1" style="background-color: rgba(0, 0, 0, 0.2);">
            <div class="col-auto mr-3">
                <img src="/img/iconos/gmail.png" width="25" height="25">
            </div>
            <div class="col-auto mr-5">
                <p class="mb-0">javiercambro@gmail.com</p>
            </div>
            <div class="col-auto mr-3">
                <img src="/img/iconos/llamada.png" width="25" height="25">
            </div>
            <div class="col-auto">
                <p class="mb-0">900 301 013</p>
            </div>
        </div>
    </div>
</footer>
