<div class="container">
    <div class="map-container">
        <div class="title-container">
            <div class="title">Ven a visitarnos y deja que el resto lo hagamos nosotros</div>
        </div>
        <div class="mapouter">
            <div class="gmap_canvas">
                <iframe width="100%" height="300" id="gmap_canvas" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3036.577464083998!2d-3.676899724668955!3d40.4403542542022!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd4228c5b64e2e67%3A0x93f9a74d1282150a!2sHospital%20Quir%C3%B3nsalud%20San%20Jos%C3%A9!5e0!3m2!1ses!2ses!4v1713180544931!5m2!1ses!2ses" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
            </div>
        </div>
    </div>
</div>

<style>
    .container {
        max-width: 90%;
        margin: 0 auto;
    }
    .map-container {
        color: #000;
        border-radius: 10px;
        margin-bottom: 20px;
        border: 1px solid #fff;
    }
    .title-container {
        text-align: center;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .title {
        font-size: 18px;
    }
    .mapouter {
        position: relative;
        text-align: right;
        height: 300px;
        width: 100%;
    }
    .gmap_canvas {
        overflow: hidden;
        background: none !important;
        height: 300px;
        width: 100%;
    }
</style>
