header {
    height: 120px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px white;
}

.resto {
    margin-top: 200px;
}

.resto2 {
    margin-top: 80px;
}

.card {
    width: 80%;
    display: flex;
    justify-content: center;
    background-color: rgb(13, 73, 73) !important;
    font-size: 18px;
}

::placeholder {
    font-size: 15px; 
}

input[type]{
    font-size: 15px;
}

.rojo {
    color:red;
    font-size: small;
}

.barra{
    width: 70%;
}

.navbar {
    margin-top: 120px;
}

body {
    background-image: url("../img/fondos/fondo3.jpg");
    background-attachment: fixed;
    background-size: cover;
}

.colorFondo {
    background-color: rgb(38, 137, 124);
}

#fecha {
    height: 38px;
    padding: 5px;
}